.App {
  text-align: center;
  align-items: center;
  background-color: #F8E6CB;
}

.d-block {
 width: 700px;
}

.carousel {
 margin-top: 100px;
}

.titleHome{
  margin-top: 50px;
}

.g-4{
margin-top: 30px;
}

.navlink{
 text-decoration: none;
 color: black;
}

button{
  border-radius: 10px;
  background-color:rgb(255, 255, 255);
}

